name: "Build & Release (Debug)"

on:
  workflow_dispatch:

jobs:
  build:
    name: Build & Release (Debug)
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV
          code_server=$(grep '^code_server: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "CSVERSION=$code_server" >> $GITHUB_ENV

      - name: Download code-server
        run:  wget -O assets/code-server-${{ env.CSVERSION }}-linux-arm64.tar.gz https://github.com/coder/code-server/releases/download/v${{ env.CSVERSION }}/code-server-${{ env.CSVERSION }}-linux-arm64.tar.gz

      - name: Set Up Java
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'oracle'
          java-version: '17'

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.4'
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Debug APK (Instead of Release)
        run: flutter build apk --debug --split-per-abi --dart-define=VERSION=${{ env.VERSION }} --dart-define=CSVERSION=${{ env.CSVERSION }}

      - name: Rename Debug Artifacts 
        run: |
          # 检查debug目录是否存在
          if [ -d "build/app/outputs/apk/debug" ]; then
            cd build/app/outputs/apk/debug
            mv app-arm64-*debug.apk "CodeFA_${{ env.VERSION }}_Android_arm64-debug.apk"
            mv app-armeabi-*debug.apk "CodeFA_${{ env.VERSION }}_Android_arm_v7a-debug.apk"
            mv app-x86_64-*debug.apk "CodeFA_${{ env.VERSION }}_Android_x86_66-debug.apk"
            cd ../../../../..
          else
            echo "错误：'build/app/outputs/apk/debug' 目录未找到。"
            exit 1
          fi

      - name: Upload Artifacts
        # --- 这里是修改的地方 ---
        uses: actions/upload-artifact@v4
        # --- 从 v3 更新到了 v4 ---
        with:
          name: Releases
          path: |
            build/app/outputs/apk/debug/*_arm64-debug.apk
            build/app/outputs/apk/debug/*_arm_v7a-debug.apk
